body {
    font-family: "Roboto Light", SansSerif, "DejaVu Sans";
    font-size: 1.5em;
    font-weight: normal;
    background-color: var(--main-secondary-text-color);
}

.foto {
    background-color: aquamarine;
    border-radius: 30px;
    padding: 5px;
}

main > img {
    width: var(--foto-plotis);
}

td > img {
    width: 250px;
}

a {
    text-decoration: none;
    color: var(--main-primary-color);
}

/* Meniu stilius */
nav ul {
    margin: 0;
}

nav li {
    float: left;
    display: flex;
    padding: 0 10px;
    border-right: 2px solid var(--main-secondary-text-color);
    height: 50px;
    align-items: center;
    justify-content: center;
    background-color: var(--main-secondary-color);
    color: var(--main-secondary-text-color);
    transition: all 700ms;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main-secondary-color);
}

nav li > a {
    color: inherit;
}

nav li:hover {
    background-color: var(--main-secondary-text-color);
    color: var(--main-primary-text-color);
    transform: scale(1.2);
}

nav li:last-of-type {
    border-right: none;
}

/* Meniu stilius pabaiga */

footer {
    background-color: var(--main-primary-color);
    color: var(--main-secondary-text-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

body aside {
    display: grid;
    align-content: space-evenly;
    grid-gap: 20px;
}
.reklama {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--main-primary-color);
    background-color: var(--main-secondary-color);
    color: var(--main-primary-color);
    min-height: 150px;
    cursor: pointer;
}
body main {
    padding-left: 10px;
}

.raudonas_fonas { background-color: red;}
.didelis_tekstas { font-size: 15px}
.remelis {border: 1px solid red;}
.active {opacity: 0.75}